.home-container {
    display: flex;
    align-items: center;
    height: 50vh;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

.item {
    cursor: pointer;
    padding-right: 15px;
    transition: transform 300ms ease 100ms;
}

.item-container:hover .item {
    transform: translateX(-8%);
}

.item:hover ~ .item {
    transform: translateX(8%);
}

.item:hover {
    transform: scale(1.05) !important;
}