.header-container {
  height: 50vh;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  overflow-y: auto;
}


.poster-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto; 
}

.poster {
  cursor: pointer;
  width: 10rem;
  height: auto;
  transition: all .2s ease-in-out;
}

.poster:hover {
  transform: scale(1.04)
}

@media (min-width: 992px) {  
  .poster {
    width: 180px;
    height: auto;
  }
}

@media (min-width: 1200px) {  
  .poster {
    width: 200px;
    height: auto;
  }

  .poster-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}